<h3>Welcome</h3>

<div id="typing">Typing...</div>
<!-- kills cmd-a -->
<div id="holder" onselectstart="return false;" onmousedown="return false;" focus="true;"> 
  <% if current_user.present? %>
    <%= render 'entries/form' %>
  <% else %>
    <%= render 'users/form_nested' %>
  <% end -%>
</div>

