<div class="page-header">
  <h1>Write Now, Write Blind.</h1>
  <p>Let it Mellow</p>
  <h2>Read Later.</h2>
</div>

<div id="typing">Typing...</div>
<!-- kills cmd-a -->
<div id="holder" onselectstart="return false;" onmousedown="return false;" focus="true;"> 


  <%= render 'entries/form' %>
  <span>word count: <span id="count">0</span></span>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">What Is This???</h4>
      </div>
      <div class="modal-body">
        <p>I had a problem when writing, I would edit and self sensor my self to death from the get go.  I asked friends of mine about this, and I was not alone.</p>

        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




